body{
    background-image: url("pic.jpg");
    font-family:Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    cursor: pointer;
    background-size: cover;
}

/* #searchForm{
    text-align: center;
    align-items: center;
    font-size: large;
}
#myRecipesForm{
    text-align: left;
    align-items: left;
    font-size: large; 
}
#recipeDetails{
    text-align: left;
    align-items: left;
    font-size: large; 
} */
#container{
    text-align: center;
    align-items: center;
    font-size: large;
}